
.gradle/2.2.1/taskArtifacts/fileHashes.bin

*.bin

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin.cpgz

.idea/workspace.xml

.idea/workspace.xml

.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

.gradle/2.2.1/taskArtifacts/fileHashes.bin

.gradle/2.2.1/taskArtifacts/cache.properties.lock
