<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cl.tdc.felipe.tdc" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.provides.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="cl.tdc.felipe.tdc.permission.MAP_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="cl.tdc.felipe.tdc.permission.MAP_RECEIVE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tdc"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <service android:name="cl.tdc.felipe.tdc.daemon.WifiTrackerTDC"/>
        <service android:name="cl.tdc.felipe.tdc.daemon.PositionTrackerTDC"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDXrfEiaSBhvRJcJB_DtIdi4mDXvAH4X4g"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".MainActivity" android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AgendaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AveriaActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CercanosActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FormCheckActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Seguimiento" android:screenOrientation="portrait"/>
        <activity android:name=".DetalleProyecto1" android:screenOrientation="portrait"/>
        <activity android:name=".FormCheckSecurity" android:screenOrientation="portrait"/>
        <activity android:name=".FormCheckMaintenance" android:screenOrientation="portrait"/>
        <activity android:name=".RelevarActivity" android:screenOrientation="portrait"/>
        <activity android:name=".RelevarRecomendadoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PreAsBuiltActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FormPreAsBuiltActivityRF" android:screenOrientation="portrait"/>
        <activity android:name=".FormPreAsBuiltActivityMW" android:screenOrientation="portrait"/>
        <activity android:name=".RFAerials" android:screenOrientation="portrait"/>
        <activity android:name=".MWAerials" android:screenOrientation="portrait"/>

        <activity android:name=".ActividadCierreActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ActividadCierreFormActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>